@model DeviceHardwareApp2.Models.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Department Name
            @*Html.DisplayNameFor(model => model.Department.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WallJack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WallJack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwitchPortNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwitchPortNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriticalRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriticalRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
